header {
    position: absolute;
    width: 277.54px;
    height: 81.68px;
    left: 90px;
    top: 25px;
    box-sizing: border-box;

}

nav {
    position: relative;
    width: 100%;
    margin-top: -10px;

    font-size: 20px;
}

ul {
    display: inline-flex;
    text-align: center;
    padding-left: 10px;

    font-family: 'Oswald', sans-serif;

}

li {
    padding-left: 28px;
}

nav ul li {
    display: flex;
    
    list-style-type: none;
    color:  white;
}

.Link {
    text-decoration: none;
    color: black;
}

#mockup {
    position: absolute;
    width: 678.5px;
    height: 837.19px;
    right: 0;

}

#marcadorSlogan {
    position: absolute;
    width: 4px;
    height: 140px;
    left: 86px;
    top: 205px;
}

.slogan {
    position: absolute;
    width: 471px;
    height: 104px;
    left: 105px;
    top: 220px;

    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 35px;
}

button {
    position: absolute;
    width: 376px;
    height: 104px;
    left: 86px;
    top: 390px;

    background: linear-gradient(174.1deg, #FF7926 -29.75%, #A512BD 152.99%);
    border-radius: 50px;
    border-color:transparent;

    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

button:hover {
    background: linear-gradient(174.1deg, #FF7926 -29.75%, #D35C12 -29.73%, #7C0A8E 140.76%);
}

text {
    color: black;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
}

#qrcodeText {
    position: absolute;
    width: 256px;
    height: 33px;
    left: 150px;
    top: 525px;
}

#qrCode {
    position: absolute;
    left: 13.26%;
    top: 580px;
    left: 168px;
    bottom: 72.72%;
}

.box {
    
    width: 241px;
    height: 242px;
    left: 265px;
    top: 892px;

    background: #e0e0e0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;

    text-align: center;
}

.boxContainer {
    position: absolute;
    width: 911px;
    height: 242px;
    left: 20%;
    top: 870px;

    display: grid;
    /* aqui eu determino é são 3 colunas de tamanhos iguas, cada coluna tem uma fração */
    grid-template-columns: repeat(3, 1fr);
    /* esssa é a altura das linhas, se vc quiser pode apaga-la caso não queira uma altura definida */
    grid-auto-rows: 100px;
    /* espaço entre um elemento interno e outro */
    grid-gap: 5px 8px;
    /* margem interna que afasta os elementos da borda do grid */
    padding: 20px 10px;
}

#textBox {
    font-size: 28px;
}

.icon {
    padding-top: 40px;
}

#fundoGradiente {
    position: absolute;
    width: 100%;
    height: 750px;
    top: 1013px;

    background: linear-gradient(0deg, #f8670e -2.54%, #A312BB 65.28%, #A312BB 65.28%);

    display: grid;
    /* aqui eu determino é são 3 colunas de tamanhos iguas, cada coluna tem uma fração */
    grid-template-columns: repeat(4, 1fr);
    /* esssa é a altura das linhas, se vc quiser pode apaga-la caso não queira uma altura definida */
    grid-auto-rows: 100px;
    /* espaço entre um elemento interno e outro */
    grid-gap: 5px 8px;
    
    align-content: center;
}

#apresentaçãoDevs {
    position: absolute;
    width: 597px;
    height: 104px;
    left: 497px;
    top: -80px;

    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.fotoDevs {
    position: relative;
    width: 250px;
    height: 250px;
    left: 60px;
    margin-bottom: 5px;
}


#textFundoGradiente {
    position: relative;
    width: 100%;
    height: 700px;
    top: 1250px;

    display: grid;
    /* aqui eu determino é são 3 colunas de tamanhos iguas, cada coluna tem uma fração */
    grid-template-columns: repeat(4, 1fr);
    /* esssa é a altura das linhas, se vc quiser pode apaga-la caso não queira uma altura definida */
    grid-auto-rows: 100px;
    /* espaço entre um elemento interno e outro */
    grid-gap: 5px 8px;
    
    align-content: center;
    text-align: center;
}

.textDevs {
    color: white;
    margin-top: 40px;
}
#nomeDevs {
    width: 165px;
    height: 34px;

    color: white;
    background: rgba(0, 0, 0, 0.2);

    border-radius: 50px;
    /*border-color: rgb(255, 255, 255);*/

    padding: 4px 13px;
    gap: 10px;

}
#textSobre {
    position: absolute;
    width: 556px;
    height: 321px;
    left: 110px;
    top: 1860px;

}

#marcadorSobre {
    position: absolute;
    width: 4px;
    height: 200px;
    left: -18px;
    top: -5px;

    background: #A512BD;
    border-radius: 8px;
}

#marcadorLink {
    position: absolute;
    width: 4px;
    height: 70px;
    left: -18px;
    top: 240px;

    background: #f8670e;
    border-radius: 8px;
}

#textTecnologias {
    position: absolute;
    width: 602px;
    height: 38px;
    left: 820px;
    top: 1860px;

}

.boxTecnologias {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 140px;

    position: absolute;
    width: 615px;
    height: 290px;
    left: 820px;
    top: 1900px;

}

.tecnologia {
    background: linear-gradient(174.1deg, #FF7926 -29.75%, #A512BD 152.99%);
    border-radius: 18px;
    width: 130px;
    height: 130px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.contato {
    position: absolute;
    width: 454px;
    height: 196px;
    left: 493px;
    top: 2310px;
    text-align: center;
}

#textTituloContato {
    font-size: 40px;

    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  
    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

    
}
