footer {
    width: 100%;
    top:2750px;
    height: 4vh;
    display: flex;
    align-items: center;
    bottom: 0;
    position: absolute;
    font-size: small;
    color: white;
}

#direitosAutorais {
    position: absolute;
    text-align: center;
}